
img{
	width: 30%;
	float: left;
	/*(float attribute removes space betwee images)*/
	margin: 1.66%;
}	


body{
	background-color: cornsilk;
}

h1 {
	text-align: left;
	font-family: 'raleway' , sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	margin-right:1.66%;
	margin-left: 1.66%;
	padding-bottom: 2px;
	border-bottom: 2px solid #f1f1f1;
}

